{% extends 'base.html'%}

{% block content%}

<div class="row bg-dark" class="carousel slide" data-ride="carousel">
    <!-- Advertisement div-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <p class="h4 ml-3 text-white text-center">"Valerio Canez, la qualité de la vie"</p>
        </div>
        <div class="carousel-item w-100 bg-warning">
            <p class="h4 ml-3 text-white">"Casami, la maison do comfort"</p>
        </div>
        <div class="carousel-item w-100 bg-success text-center">
            <p class="h4 ml-3 text-white">"Your best electronics at Digicel"</p>
        </div>
    
    </div>
</div>

    <!--Banner div-->

<div class="row ">
    <div class="banner-div">
        <img src="../static/images/main-banner.jpg"  class="banner-img" alt="">
    </div>
</div>

        
<!--Title div-->

<div class="row title-div border-bottom border-white b ">
        <p class="h4 ml-4 ">Best Sellers</p>
    

</div>

<!-- proctucts main page-->
<div class= "products-container-div">
    
    <div class="product-card ">
        jkkl
        kklvklvm 

        klklkl
        kkll

        
    </div>

    <div class="product-card">
        hghj
        
        
    </div>

    <div class="product-card">
        hjk
        
        
    </div>
    <div class="product-card">
        kkl
        
        
    </div>

</div>
    

   






   


{%endblock%}