<!--Secondary nav bar-->
<div class="row">
    <div class="col nav1">
   
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link text-dark active" href="#">location</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">language</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark"  href="#">Sign up/log in</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
   </div>
</div>